@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Urbanist",sans-serif;
}
:root{
    --bs-dark-color: #1a1d20;
    --bs-dark-primary:#1c1c1c;
    --bs-main-color:#fff;
    --bs-primary-color:#c6c6c6;
    --secondary-color: #29a9fd;
    --bs-supporting-color: #C850C0;
}
.navbar-brand{
  font-weight: 700;
  font-size:x-large;
}
.navbar-logo{
  width:60px;
  height: 60px;
  border-radius: 50px;
  border: 0.1px solid #758694;
}
h1, h2,h3,h4,h5{
    font-family: 'Lexend Deca', sans-serif;
    color: var( --bs-dark-color);
}
h1{
    font-size: 3.6rem;
    font-family: cursive;
}
h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}
p{
    margin: 0;
    font-weight: 400;
    font-size: 1.2rem;
    color: var( --bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}
a{
    text-decoration: none;
    position:relative;
    padding:0 10px;
    letter-spacing: 0.5px;
}
a:after{
  content:"";
  position: absolute;
  background-color: #8EACCD;
  height:3px;
  width: 0;
  left:0;
  bottom: -4px;
  transition: 0.5s;
}
a:hover:after{
  width:100%;
  background-color:#ff3c78;
  transition: 0.3s;
}
a:active{
  background: #9EDDFF;
  border-radius: 25px;
  padding:5px;
}  
.bg-main{
    height: 80vh;
    position: relative;
}
ul{
  font-weight: 800;
  font-size: large;
}
li{
    list-style-type: none;
}
body{
  background-color: #ECDFCC;
}



                         /* HERO-SECTION */

.hero-section .container{
    display:grid;
    place-items: center;
    height: inherit;
}
.hero-video--section{
    height: auto;
    width: 30rem;
    border-radius: 2rem;
} 
#install{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin-bottom: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
