header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}
a:link{
    color:crimson;
}
a:hover{
    background-color: blueviolet;
}
a:active{
    color:aqua;
}
a:visited{
    color: red;
}
ul{
    display: flex;
    justify-content: center;
    gap: 200px; 
}
li{
    list-style-type: none;
    border-radius: 25px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #f7f7f7;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}